* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: peru;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  height: 100%;
  width: 100%;
}
#thumbnail-container {
  display: flex;
  grid-column-start: 2;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5%;
}
.thumbnail {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 20%;
}
.fullres {
  display: flex;
  height: 100%;
  width: 100%;
}
#fullres-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* TODO: grid spacing for thumbnail images to appear in the centre of the screen */
